@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
html, body {
  margin: 0;
  padding: 0;
}

* {
  font-family: "Montserrat", system-ui;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.body__container {
  position: relative;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.nav {
  background-color: rgba(0, 0, 0, 0.8);
  width: 100%;
  padding: 10px 0;
  position: fixed;
}
.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 60px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style: none;
}
.nav__link {
  text-decoration: none;
  color: #fff;
  position: relative;
  font-family: "Montserrat", system-ui;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: 1px;
}
.nav__link::before {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 0;
  height: 2px;
  background: #fff;
  -webkit-transition: width 0.4s;
  transition: width 0.4s;
}
.nav__link:hover::before {
  width: 100%;
}

.header {
  padding: 40px 0 20px 0;
  background: #010101;
  width: 100%;
}
.header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header__logo {
  width: 100px;
  height: 100px;
}
.header__logo-img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.header__socialis {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__socialis-item {
  width: 32px;
  height: 32px;
}
.header__socialis-img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.header__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 20px;
}
.header__contacts-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
}
.header__contacts-img {
  width: 32px;
  height: 32px;
}
.header__contacts-icon {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.header__contacts-link {
  font-family: "Montserrat", system-ui;
  font-weight: 700;
  color: #fff;
  text-decoration: none;
}

.about {
  padding: 60px 0 0 0;
}
.about__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 50px;
}
.about__img {
  max-width: 500px;
  height: 500px;
}
.about__img-bg {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.about__info {
  max-width: 500px;
  border: 3px dashed #ff0202;
  padding: 30px 40px;
}
.about__info-title {
  font-family: "Montserrat", system-ui;
  font-weight: 900;
  color: #000000;
  font-size: 30px;
}
.about__info-subtitle {
  font-family: "Montserrat", system-ui;
  font-weight: 700;
  color: #000000;
  font-size: 25px;
  line-height: 100%;
  letter-spacing: 1.2px;
  margin-top: 10px;
}
.about__info-descr {
  font-family: "Montserrat", system-ui;
  font-weight: 500;
  color: #000000;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 1.2px;
  margin-top: 10px;
}
.about__info-btn {
  margin-top: 10px;
  text-decoration: none;
}

.btn {
  width: 300px;
  height: 45px;
  border-radius: 20px;
  color: #fff;
  background: #000;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Montserrat", system-ui;
  font-weight: 700;
  font-size: 23px;
  line-height: 100%;
  letter-spacing: 1.2px;
  cursor: pointer;
  -webkit-transition: background 0.4s;
  transition: background 0.4s;
}
.btn:hover {
  background: #ff6600;
  -webkit-box-shadow: 0 0 15px #ff6600;
          box-shadow: 0 0 15px #ff6600;
}

.pay {
  padding: 60px 0 0 0;
}
.pay__wrapper {
  margin-top: 100px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-template-rows: minmax(250px, auto);
  grid-auto-rows: minmax(250px, auto);
  gap: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.pay__item {
  position: relative;
}
.pay__item:last-child::after {
  content: "";
}
.pay__item::after {
  position: absolute;
  content: "→";
  top: 10%;
  right: 25%;
}
.pay__item-icon {
  width: 64px;
  height: 64px;
  background-color: #000;
  border-radius: 100%;
}
.pay__item-man {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.pay__item-descr {
  text-align: left;
  font-family: "Montserrat", system-ui;
  font-weight: 400;
  color: #0a0a0a;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: 1.2px;
  margin-top: 20px;
}

.title {
  text-align: center;
  font-family: "Montserrat", system-ui;
  font-weight: 900;
  color: #0a0a0a;
  font-size: 40px;
  line-height: 150%;
  letter-spacing: 1.2px;
}

.order {
  padding: 60px 0 60px 0;
  background: #000;
}
.order__title {
  color: #fff;
}
.order__info {
  color: #fff;
  font-family: "Montserrat", system-ui;
  font-weight: 500;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 1.2px;
  margin-top: 30px;
  text-align: center;
}
.order__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px;
  margin-top: 30px;
}
.order__input {
  width: 300px;
  height: 50px;
  padding: 10px;
  font-family: "Montserrat", system-ui;
  font-weight: 500;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 1.2px;
  cursor: pointer;
}
.order__input:focus {
  outline: 3px solid #ff6600;
}
.order__btn {
  background: #ff6600;
  color: #fff;
  border-radius: 0;
}
.order__checkbox {
  max-width: 250px;
  color: #fff;
}
.order__checkbox-click {
  cursor: pointer;
}

.recal {
  padding: 60px 0 0 0;
  border: 3px solid #000;
}
.recal__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px;
}
.recal__item-img {
  width: 64px;
  height: 64px;
}
.recal__item-info {
  color: #000;
  font-family: "Montserrat", system-ui;
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 1px;
}

.questions {
  padding: 60px 0 60px 0;
  background: #000;
}
.questions__title {
  color: #fff;
}
.questions__table {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.questions__table-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  gap: 30px;
}
.questions__table-question {
  font-family: "Montserrat", system-ui;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 1px;
  font-size: 20px;
  color: #fff;
}
.questions__table-response {
  font-family: "Montserrat", system-ui;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 1px;
  font-size: 20px;
  color: #fff;
}/*# sourceMappingURL=style.css.map */