.nav {
    background-color: rgba(0, 0, 0, 80%);
    width: 100%;
    padding: 10px 0;
    position: fixed;
    &__list {
        display: flex;
        align-items: center;
        gap: 60px;
        justify-content: center;
        list-style: none;
    }
    &__link {
        text-decoration: none;
        color: #fff;
        position: relative;
        font-family: "Montserrat", system-ui;
        font-weight: 700;
        line-height: 120%;
        letter-spacing: 1px;
        &::before {
            content: '';
            position: absolute;
            bottom: -5px;
            left: 0;
            width: 0;
            height: 2px;
            background: #fff;
            transition: width .4s;
        }
        &:hover {
            &::before {
                width: 100%;
            }
        }
    }
}
